:root {
    --primary-gradient: linear-gradient(135deg, #330859 0%, #e3adfb 100%);
    --glass-bg: rgba(255, 255, 255, 0.15);
    --input-bg: rgba(255, 255, 255, 0.9);
    --text-white: #ffffff;
    --color-invalid:red;
    --color-valid: rgb(110, 220, 184);
    --btn-bg: #ffffff;
    --btn-text: #4f0491;
    --shadow-dark: rgba(240, 11, 191, 0.2);
    --shadow-light: rgba(255, 255, 255, 0.4);
    --border: rgba(255, 255, 255, 0.3);
}

body {
    margin: 0;
    padding: 0;
    width: 100%; /* Obliga a la base a ser del ancho total de la pantalla */
    min-height: 100vh;  
    font-family: 'Segoe UI', Roboto, sans-serif;
    background: var(--primary-gradient);
    background-attachment: fixed; /*Se agrego*/
    display: flex;
    flex-direction: column /*Se agrego*/;
    align-items: stretch;
    overflow-x: hidden; 
}

main.glass-container{
    flex:1;
}

/*-----------------------Navbar----------------------------*/
/* Estilos para el Nav */

.nav-container{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0 8px 32px 0 var(--shadow-dark);
    border-bottom: 1px solid var(--border);
    align-items:center;
    padding: 0px 35px;
}

#logo1{
    border: 3px solid pink;
    border-radius: 30%;
    width: 100px;
}

.paginas{
    display: flex;
    margin: 0px ;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-size: 1.5rem;
    text-align: center;
}

.link-pagina{
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: var(--text-white);
    text-decoration: none;
    font-weight: bold;
    padding: 25px;
}

.link-pagina:hover {
    color: var(--color-valid);
    text-shadow: 0 0 10px var(--shadow-light);
}


/*----------------Footer------------------*/
/* Estilos para el Footer */
.footer {
    background: var(--glass-bg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid var(--border);
    color: var(--text-white);
    padding: 30px 0;
    margin-top: auto; /* Empuja el footer al final si usas flex en el body */
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}

.footer-content a {
    color: var(--text-white);
    margin-left: 15px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
}

.footer-content a:hover {
    color: var(--color-valid);
}